a:link{
	color: #000;
	text-decoration:none;
}
a:visited{
	color: black
	text-decoration:none;
}
a:hover{
	background-color: #fff;
}
a:active{
	font-size: 24px;
}
body{
	background-color: yellow;
}
h1:hover{
	background-color: green;
	font-size: 250%;
	text-align: center;
	padding: 10px;
	border: 10px rgba(200,0,0,0.5) dotted ;
	border-radius: 10px;
	box-shadow: 5px 5px rgba(0,0,0,1)
	margin:10px auto;
	width: 300px;
}
div{
	height: 400px;
	border: 1px red solid;
	background-color: rgba(0,0,0,0.3);
}
div.left{
	width: 200px;
	float: left;
	margin-right: 20px
}
div.right{
	width: 300px;
	float: right;
}
div.center{
	width: 400px;
	float: left;
}